* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*landing page*/
.jumbotron hr{
	background-color: lightgrey;
}

#jumbo-land{
	padding-top: 15%;
	height: 100vh;
	position: relative;
	background-image: url("../images/landing.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	border-radius: 0; /*removes jumbotron;s rounded corners*/

}
.jumbotron h1{
	color: #173753;
	font-family: 'Berkshire Swash', cursive;
	font-size: 50px;
}

#index-anchor {
	color: white;
}

#index-anchor:hover {
	color: black;
}

#index-btn {
	width: 150px;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-family: 'Itim', cursive;
	font-size: 20px;
	background-color: #67626C;
	border-radius: 5px;
}

blockquote {
	font-family: 'Merienda', cursive;
	font-size: 18px;
}



/*------------------------------------------------------HOME PAGE----------------------------------------------------*/
img[alt*="header-img"] {
	width: 100%;
	height: 30vh;	
}

.navbar {
	background-color: #79B4B8;
	padding: 0 0 0 10px;
	font-family: 'Armata', sans-serif;
	
}

.sticky-top {
	top: -3px;
}

#body {
	background-color: #F2F4F3;
}


img[alt*="logo"] {
	width: 50px;
}


img[alt*="social"] {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin-right: 10px;
}

.first {
	height: auto;
	margin-top: 4%; 
}

.title {
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
}

#carousel-controls {
	width: 100%;
	height: 35vh;
	margin: 0 auto;
}

#carousel-controls img {
	height: 35vh;
	max-height: 35vh;
	margin: 0 auto;
	border-radius: 3px
}

.home-intro {
	font-family: 'Rock Salt', cursive;
	font-size: 27px;
}

.home-text {
	font-family: 'Handlee', cursive;
	font-size: 19px;
}

.line {
	background-color: grey;
	width: 120vh;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 2%;
}

.second {
	height: 60vh;
}

.home-post {
	font-family: 'Rancho', cursive;
	font-size: 40px;
	letter-spacing: 7px;
}

.feature {
	height: 200px;
}


.card-body {
	height: 180px;
}

.card-title {
	font-family: 'Contrail One', cursive;
}

.card-text {
	font-family: 'Handlee', cursive;
	font-size: 18px;
}


footer {
	/*background-color: #636261;*/
	background-color: #71B0AE;
	font-family: 'Armata', sans-serif;
	color: black;
	width: 100%;
}


/*------------------------------------------------------DESTINATION PAGE----------------------------------------------------*/

.destinations {
	width: 500px;
	height: 250px;
}

.destinations:hover {
	box-shadow: 10px 10px lightgrey;
	border-radius: 30px;
}

.desti-head {
	font-family: 'Contrail One', cursive;
}

.desti-text {
	font-family: 'Handlee', cursive;
	font-size: 19px;
}

.btn-des {
	margin-left: 40%;
	font-family: 'Itim', cursive;
}

.modal-title {
	font-family: 'Days One', sans-serif;
}

.btn-close {
	font-family: 'Itim', cursive;
}


/*------------------------------------------------------ABOUT PAGE----------------------------------------------------*/
.con {
	background-color: rgba(145,163,155,0.2);
}

#about-img {
	width: 350px;
	height: 30vh;
	margin: 0 auto;
	border-radius: 30px;
}

.about {
	font-family: 'Rancho', cursive;
	font-size: 40px;
	letter-spacing: 3px;
}

#about-title {
	font-family: 'Rock Salt', cursive;
	font-size: 23px;
}

.about-text {
	font-family: 'Handlee', cursive;
	font-size: 19px;
}

img[alt*="author-image"] {
	width: 450px;
	height: 35vh;
	margin: 0 auto;
	border: 2px solid black;
	margin-left: 50px;
}

/*------------------------------------------------------CONTACT PAGE----------------------------------------------------*/
.banner	{
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url("https://assets.bosch.com/media/global/contact/bosch-contact.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#contact-title {
	padding-top: 20%;
	font-family: 'Rock Salt', cursive;
}

.contact-form {
	font-family: 'Rancho', cursive;
	font-size: 50px;
}

.contact-text {
	font-family: 'Handlee', cursive;
	font-size: 19px;
}

#form {
	padding:60px;
	border: 3px double grey;
}

label {
	font-family: 'Handlee', cursive;
	font-size: 19px;
}

.contact-tel {
	margin-top: 20%;
}

.btn-submit {
	font-family: 'Itim', cursive;
}










/*Media Queries*/

/* Mobile Styles */
@media only screen and (min-width: 100px) and (max-width: 480px) {
	#index-btn {
		word-wrap: break-word;
	}

	img[alt*="header-img"] {
		height: 25vh;
		
	}

	.navbar-toggler-icon {
		width: 25px;
		height: 20px;

	}

	img[alt*="social"] {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 10px;
	}

	 #carousel-controls {
		width: 45vh;
		height: 30vh;
		margin: 0 auto;
	}

	#carousel-controls img {
		height: 30vh;
		max-height: 30vh;
		margin: 0 auto;
		border: 6px double grey;
		border-radius: 3px
	}
	
	.carousel-inner {
		max-width: 350px;
	}


	.line {
		background-color: grey;
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10%;
	}

	.second {
		height: 100%;
	}

	.card-body {
		font-size: 18px;
		height: 200px;
		word-wrap: break-word;
	}


	#contact-title {
	padding-top: 60%;
	}

	.contact-tel {
	margin-top: 0;
	}

	.btn-des {
		margin-left: 35%;
		background-color: lightgrey;
	}

	.about-img {
	width: 500px;
	height: 30vh;
	border-radius: 30px;
	}

	img[alt*="author-image"] {
	width: 500px;
	height: 35vh;
	margin: 0 auto;
	border: 2px solid black;
	margin-top: 10px;
	}

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	img[alt*="header-img"] {
		width: 100%;
		height: 25vh;
		
	}

 	#carousel-controls {
		width: 68vh;
		height: 40vh;
		margin: 0 auto;
	}

	#carousel-controls img {
		height: 40vh;
		max-height: 40vh;
		margin: 0 auto;
		border: 6px double grey;
		border-radius: 3px
	}

	.line {
		background-color: grey;
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10%;
	}

	.second {
		height: 100%;
	}

	.card-body {
		font-size: 18px;
		height: 330px;

	}
	
	#contact-title {
	padding-top: 60%;
	}

	.contact-tel {
	margin-top: 0;
	}

	.destinations {
	width: 500px;
	height: 250px;
	margin: 0 auto;
	}

	.btn-des {
		margin-left: 40%;
		background-color: lightgrey;
	}

	img[alt*="author-image"] {
	width: 500px;
	height: 35vh;
	margin: 0 auto;
	border: 2px solid black;
	margin-top: 10px;
	}	
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  

}
